@model Presentation.Webapp.ViewModels.ProfileViewModel

<div class="container">
    <h1>My Account</h1>
    <div class="my-account">
        <section class="profile-sidebar">
            <img src="/images/profile-image.png" alt="profile image">
            <section class="profile-menu">
                <span>Menu Options</span>
                <ul>
                    <li>About Me <img src="/images/right-arrow.png" alt="arrow"></li>
                    <li class="divider"></li>
                    <li>My Membership <img src="/images/right-arrow.png" alt="arrow"></li>
                    <li class="divider"></li>
                    <li>My Bookings <img src="/images/right-arrow.png" alt="arrow"></li>
                    <li class="divider"></li>
                    <li>Sign Out <img src="/images/right-arrow.png" alt="arrow"></li>
                </ul>
            </section>
        </section>
        <section class="about-me">
            <h1>About Me</h1>
            <div class="divider"></div>

            <div class="register-form">
                <form asp-controller="Profile" asp-action="UpdateProfile" method="post">
                    <label asp-for="FirstName"></label>
                    <input type="text" asp-for="FirstName" />
                    <label asp-for="LastName"></label>
                    <input type="text" asp-for="LastName" />
                    <label asp-for="Email"></label>
                    <input type="email" asp-for="Email" />
                    <label asp-for="PhoneNumber"></label>
                    <input type="text" asp-for="PhoneNumber" />
                    <div class="divider"></div>
                    <label asp-for="ProfileImage"></label>
                    <input type="file" asp-for="ProfileImage" class="image-input" />
                    <label asp-for="ProfileImage" class="image-label">
                        <span>Upload Profile Image</span>
                        <span class="browse">Browse</span>
                    </label>
                    <button id="sendButton" class="button" type="submit">
                        <span>Save</span>
                        <img src="/images/right-arrow.png" alt="arrow">
                    </button>
                </form>
            </div>
        </section>
    </div>
</div>
