@{
    Layout = "_Layout";
}
<div class="container">
    <div class="customer-service">
        <h1>Customer Service</h1>
        <div class="contact">
            <div class="image-container">
                <img src="/images/contact-us-image.png" alt="Contact Us" />
            </div>
            <div class="contact-container">
                <h1>Contact Us Today</h1>
                <p>
                    Ready to begin your fitness journey?
                    Contact GymPro today and let our expert trainers
                    guide you with the right program and support.
                </p>

                <form action="/" method="post">
                    <div>
                        <label>First Name *</label>
                        <input type="text" placeholder="Enter First Name" />
                    </div>
                    <div>
                        <label>Last Name *</label>
                        <input type="text" placeholder="Enter Last Name" />
                    </div>
                    <div>
                        <label>Email Address *</label>
                        <input type="email" placeholder="Enter Email Address" />
                    </div>
                    <div>
                        <label>Phone Number</label>
                        <input type="text" placeholder="Enter Phone Number" />
                    </div>
                    <div class="message">
                        <label>Message *</label>
                        <textarea></textarea>
                    </div>
                    
                </form>
                <button id="sendButton" class="button" type="submit">
                    <span>Submit Message</span>
                    <img src="/images/right-arrow.png" alt="arrow">
                </button>
            </div>
        </div>
    </div>
</div>