<header>
    <div class="container">
        <div>
            <a href="/"><img src="~/images/logotype.png" alt="d"></a>
        </div>
        <div>Nav</div>
        <div>Button</div>
    </div>
</header>