<header>
    <section class="header-container">
        <div>
            <a asp-controller="Home" asp-action="Index"><img class="logo" src="~/images/logotype.png" alt="logo"></a>
        </div>
        <nav>
            <ul class="navbar">
                <li class="nav-links"><a asp-controller="Error" asp-action="Index">Fitness Centers</a></li>
                <li class="nav-links"><a asp-controller="Error" asp-action="Index">Membership</a></li>
                <li class="dropdown">
                    Training <img src="~/images/right-arrow-white.png" alt="arrow">
                    <ul class="dropdown-content">
                        <li class="nav-links"><a asp-controller="Error" asp-action="Index">Personal Training</a></li>
                        <li class="nav-links"><a asp-controller="Error" asp-action="Index">Group Training</a></li>
                        <li class="nav-links"><a asp-controller="Error" asp-action="Index">Padel</a></li>
                    </ul>
                </li>
                <li class="nav-links"><a asp-controller="Error" asp-action="Index">Customer Service</a></li>
                <li class="nav-links"><a asp-controller="Error" asp-action="Index">Store</a></li>
            </ul>
        </nav>
        <div>
            <ul class="account-buttons">
                <li class="nav-links"><a asp-controller="Account" asp-action="Index">Become Member</a></li>
                <li class="nav-links sign-in">
                    <a asp-controller="Error" asp-action="Index">
                        <span>Sign In</span>
                        <img src="~/images/right-arrow.png" alt="arrow">
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="hero-container">
        </section>
    </header>