@{
    Layout = "_Layout";
}
<div class="container">
    <div class="membership">
        <h1>Our Membership Offers</h1>
        <nav class="offers">
            <article class="offer">
                <img src="~/images/icon.png" alt="Alternate Text" />
                <h2>Standard Membership</h2>
                <div class="divider"></div>
                <p>With the Standard Membership, get access to our full range of gym facilities.</p>
                <ul>
                    <li><img src="/images/circle-check.png" alt="check" />Standard Locker</li>
                    <li><img src="/images/circle-check.png" alt="check" />High-energy group fitness classes</li>
                    <li><img src="/images/circle-check.png" alt="check" />Motivating & supportive environment</li>
                </ul>
            </article>
            <article class="offer">
                <img src="~/images/icon.png" alt="Alternate Text" />
                <h2>Premium Membership</h2>
                <div class="divider"></div>
                <p>With the Premium Membership, get access to our full range of gym facilities.</p>
                <ul>
                    <li><img src="/images/circle-check.png" alt="check" />Priority Support & Premium Locker</li>
                    <li><img src="/images/circle-check.png" alt="check" />High-energy group fitness classes</li>
                    <li><img src="/images/circle-check.png" alt="check" />Motivating & supportive environment</li>
                </ul>
            </article>
            <article class="get-membership">
                <h2>Get Your Membership</h2>
                <p>Our memberships give you access to all equipment, personalized training.</p>
                <div class="divider"></div>
                <h2>Call Us At: +(46) 8 410 521 00</h2>
            </article>
        </nav>
    </div>
</div>