@{
    Layout = "_HeroLayout";
}
<div class="container">
    <nav class="equipment">
        <div class="brands">
            <img src="/images/brands/brand_1.png" alt="brand_1" />
            <img src="/images/brands/brand_2.png" alt="brand_2" />
            <img src="/images/brands/brand_3.png" alt="brand_3" />
            <img src="/images/brands/brand_4.png" alt="brand_4" />
        </div>
        <h1>Modern Equipment</h1>
    </nav>

    <section class="about-us">
        <img src="~/images/about_us-image.png" alt="About Us" />
        <div class="about-us-text">
            <h2>About Us</h2>
            <h1>Elevating Fitness Journey with Expert Guidance</h1>
            <p>
                We support every stage of your fitness journey with certified trainers,
                personalized programs proven methods designed to help you train safely,
                build strength.
            </p>
            <div class="about-us-white">
                Our mission is to transform lives by combining expert guidance,
                powerful training programs, and a motivating community
                that helps you grow stronger every day.
            </div>
        </div>
    </section>
    <section class="our-programs">
        <h2>Our Programs</h2>
        <h1>Professional training program for stronger health</h1>

        <nav>
            <img src="~/images/program-image-1.png" alt="Program 1" />
            <img src="~/images/program-image-2.png" alt="Program 2" />
            <img src="~/images/program-image-3.png" alt="Program 3" />
        </nav>
        <p>Let's make something great work together. Get Free Quote</p>
    </section>
    <section class="our-store">
        <h2>Our Store</h2>
        <h1>High quality fitness products built for results</h1>

        <nav>
            <img src="~/images/products/store-image1.png" alt="Product 1" />
            <img src="~/images/products/store-image2.png" alt="Product 2" />
            <img src="~/images/products/store-image3.png" alt="Product 3" />
            <img src="~/images/products/store-image4.png" alt="Product 4" />
        </nav>
        <p>Let's make something great work together. Get Free Quote</p>
    </section>
</div>
