@{
    Layout = "_AuthLayout";

    <div class="container">
        <section class="register">
            <div class="register-top">
                <h1>Set Your Password</h1>
                <p>
                    Set a strong password to protect your account.
                    For security reasons, your password must be at least 8 characters long
                    and include uppercase and lowercase letters, numbers, and special characters.
                </p>
            </div>
            <div class="divider"></div>
            <div class="register-form">
                <form action="" method="post">
                    <label for="email">Email Adress *</label>
                    <input placeholder="Enter Email Adress" />
                    <label for="password">Password</label>
                    <input placeholder="Enter Password" />
                    <button id="sendButton" class="button" type="submit">
                        <span>Continue</span>
                        <img src="/images/right-arrow.png" alt="arrow">
                    </button>
                </form>
                <div class="condition">
                    <input type="checkbox">
                    <p>Accept user terms and conditions</p>
                </div>
            </div>
        </section>
    </div>
}
