@model Presentation.Webapp.ViewModels.SetPasswordViewModel

@{
    Layout = "_AuthLayout";
}
<div class="container">
    <section class="register">
        <div class="register-top">
            <h1>Set Your Password</h1>
            <p>
                Set a strong password to protect your account.
                For security reasons, your password must be at least 8 characters long
                and include uppercase and lowercase letters, numbers, and special characters.
            </p>
        </div>
        <div class="divider"></div>
        <div class="register-form">
            <form asp-controller="Account" asp-action="SetPassword" method="post" novalidate>
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
                <button id="sendButton" class="button" type="submit">
                    <span>Continue</span>
                    <img src="/images/right-arrow.png" alt="arrow">
                </button>
                <span id="AcceptError" asp-validation-for="AcceptCheckbox"></span>
                <div class="condition">
                    <input asp-for="AcceptCheckbox" type="checkbox">
                        <p>Accept user terms and conditions</p>
                    </div>
            </form>
        </div>
    </section>
</div>

@await Html.PartialAsync("_ValidationScripts")
