@{
    <div class="container">
        <section class="Error_404">
            <a><img src="~/images/404-error.png" alt="404" /></a>
            <h1 >Oops! page not found</h1>
            <p>The page you are looking for does not exists.</p>
            <a asp-controller="Home" asp-action="Index" class="btn-404">
                 <span>Back to Homepage</span>
                 <img src="~/images/right-arrow.png" alt="arrow">
            </a>
        </section>
    </div>
}
